.experience{
    color: var(--white-100);
}

.wrapper-experience{
    padding: 2rem;
}

.wrapper-experience::before{
    content: '';
    margin-left: 0.5rem;
    background-color: var(--ciane-1);
    border: 1px solid var(--white-100);
    border-width: 4px;
    border-radius: 9999px;
    height: 0.5rem;
    width: 0.5rem;
    display: flex;
    left: -5%;
    top: 1.3rem;
    position: relative;
    box-shadow: 0px 0px 5px var(--gray-1);
}

.mw-50 .wrapper-experience:not(:last-child)::after{
    content: '';
    margin-left: -1.4rem;
    background-color: var(--white-100);
    border-width: 1px;
    height: 180px;
    width: 2px;
    display: flex;
    position: absolute;
    margin-top: -6rem;
    z-index: -1;
}

.wrapper-experience a{
    color:var(--ciane-1);
    font-weight: 500;
}

.wrapper-experience h3{
    color: var(--white-100);
}

.wrapper-experience span{
    color: var(--gray-3);
    font-size: .8rem;
}

.wrapper-experience p{
    color: var(--white-100);
}