@import url(./css/header.css);
@import url(./css/container1.css);
@import url(./css/container2.css);
@import url(./css/container3.css);
@import url(./css/container4.css);
@import url(./css/footer.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --black-50: rgb(0, 0, 0, 50%);
  --black-100: rgb(0, 0, 0, 100%);
  --black-25: rgba(0, 0, 0, 25%);

  --white-100: #fff;

  --black-all: #111111;

  --gray-1:#27272a;
  --gray-2: #1c1c1f;
  --gray-3: rgba(136, 138, 143, 0.767);

  --ciane-1: rgb(49 146 154);

}

body{
  background-color: var(--black-all);
}
.section{
  max-width: 1080px;
  margin: 20px auto 0px auto;
}

a{
  text-decoration: none;
  color: var(--white-100);
}


*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--gray-1);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--gray-2);
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--black-50);
}
